body {
    background: url("assets/bg.png");
    background-size: cover;
    background-attachment: fixed;
}

/* styles */

.bold {
    font-weight: bold;
}

/* elements */

.loading-text {
    color: white;

    font-size: 3em;
    font-family: "IBM Plex Sans";

    text-align: center;
    margin-top: 48vh;
}

.game {
    justify-content: center;

    display: flex;
    flex-direction: row;
}

.field-left-panel {
    display: flex;
    flex-direction: column;
}

.hold-piece {
    margin-top: 110px;
}

.hold-piece-canvas {
    margin-right: 30px;

    border: 4px solid #bbbbbb88;
    border-radius: 4px;

    box-shadow: 0 0 36px 0 #000000bb;
}

.game-stats {
    text-align: right;
    width: 170px;
    overflow: visible;
    white-space: nowrap;
}

.game-stats-clear-text {
    color: #ccc;

    font-size: 1.8em;
    font-family: "IBM Plex Sans";
    direction: rtl;

    /* margin-right: -6px; */
    margin-bottom: -0.7em;
}

.field {
    margin-top: 110px;

    border: 4px solid #bbbbbb88;
    border-radius: 4px;
    border-top: none;

    box-shadow: 0 0 36px 0 #000000bb;
}

.field-canvas {
    margin-bottom: -4px;
    /* ??? */
}

.field-canvas:focus {
    outline: none;
}

.next-queue {
    margin-top: 110px;
}

.next-queue-canvas {
    margin-left: 30px;

    border: 4px solid #bbbbbb88;
    border-radius: 4px;

    box-shadow: 0 0 36px 0 #000000bb;
}