body {
    background: url("assets/bg.webp");
    background-size: cover;
    text-align: center;
}

.field {
    margin-top: 110px;

    display: inline-flex;
    border: 4px solid #bbbbbb88;
    border-radius: 4px;
    box-shadow: 0 0 48px 0 #000000bb;
}

.field-canvas {
    margin-top: -640px;
}

.field-canvas:focus {
    outline: none;
}
